

 * {
  margin: 0px;
  padding: 0px;
 
}

#promo {
  background-color: rgb(214, 202, 162);
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left {
  justify-self: stretch;
  text-align: center;
  background-color: rgb(214, 202, 162)
}

.center {
  justify-self: stretch;
  text-align: center;
}

.right {
  justify-self: stretch;
  text-align: center;
  background-color: rgb(214, 202, 162);
}

.promo-link {
  color: #222;
  text-decoration-color: #222;
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 0.3px solid #d3d3d3;
  min-height: 40px;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-self: end;
}

.nav-links li {
  padding-left: 15px;
  padding-right: 15px;
}

nav a {
  text-decoration: none;
  color: #767676;
}

nav a:hover {
  color: #b2b2b2;
  border-bottom: 1px solid black;
}

.logo {
  color: #30336b;
  text-transform: uppercase;
  padding-left: 20px;
  justify-self: start;
}
 
 h1 {
    color: rgb(185, 178, 144);
    margin-left: 20px;
  }
p{
    color: rgb(22, 27, 25);
    font-family:fantasy;
    background-color:white;
    font-size: 30px;

}
image{
height: 70%;
width: auto;
}

h4{
  color: aquamarine;
}

#first {
  
    color:rgb(226, 236, 236);
    border: 2px solid rgb(174, 170, 184);
    padding: 10px 20px;
    text-align: center;
  
  

  }

  #home{
      color: darkgreen;
      background-color: white;
      font-size: 30px;
      word-spacing: 10%;
  }
#shop{
    color: darkmagenta;
    background-color: white;
    font-size: 30px;
    word-spacing: 1cm;
}
#contactus{
  color: rgb(112, 22, 67);
  background-color: white;
  font-size: 30px;
  word-spacing: 10%;
}
#login{
  color: rgb(82, 64, 124);
  background-color: white;
  font-size: 30px;
  word-spacing: 20%;
}

image{
  height: 100%;
}

#firstname{
  text-align: center;
 font-family: cursive;
 font-size: 60px;
}



